#cards {
    display: flex;
    flex-wrap: wrap;
}

.card {
    padding: 4px;
    margin: 2px;
    border: 1px solid black;
}

.selected {
    background-color: yellow;
}

.red {
  color: red;
}

.picked {
  background-color: greenyellow;
}

.black {
  color: black;
}

.grid {
  display: grid;
  grid-template-columns: repeat(13, 1fr);
  grid-gap: 4px;
}